
.site_content {
    position: relative;
    padding: 10rem 0 5rem;
    max-width: 980px;
    margin: 0 auto;
    min-height: 380px;
  }

  .layout_wrapper{
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
  }

  .main_content{
    flex: 1;
  }

  .sidebar_content{
    flex-basis: 320px;
  }

  /* form */
  .title_section {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    clear: both;
  }