
.me_flex_wrapper {
    display: flex;
   box-sizing: border-box; 
}

@media (max-width:921px){
    .site_header {
        padding: 1rem;
    }
  
   
}

@media (max-width:766px){
   
    .me_flex_wrapper {
        flex-direction: column;
        height: 100vh;
    }
    
}   
