.site_footer {
    border-top: 1px solid #ededed;
    color: #5f6060;
}
.footer_widgets {
    background: #fff;
    padding: 0 20px;
    max-width: 1600px;
    margin: 0 auto;
}
.footer_widgets {
    font-size: 14px;
    font-size: .875rem;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    overflow: hidden;
}

.site_footer .wrapper {
    max-width: none;
}

.footer_widgets_wrapper {
    padding: 4.6875rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -60px;
}

.footer_widgets_wrapper .widget_area {
    padding: 0 60px;
    margin-bottom: 3.125rem;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
}
.footer_widgets_wrapper .widget_area :last-child {
    margin-bottom: 0;
}
.widget_title {
    clear: both;
    color: #222;
    margin: 1.5em 0 .5em;
    line-height: 1.4;
    font-weight: 400;
    font-size: 1.25rem;
    margin-bottom: 1.875rem;
}

.textwidget p{
    margin: 0 0 1.5em;
}
.menu_footer li{
    margin-bottom: 1.25em;
    line-height: 1.75;
}
.menu_footer li a:hover {
    color: #c1b086
}

.site_info_wrapper {
    background: #fff;
    font-size: 14px;
    font-size: .875rem;
}

.footer_widgets+.site_info_wrapper .wrapper:not(:empty) {
    border-top: 1px solid #ededed;
}

.site_info_wrapper .wrapper:not(:empty) {
    padding: 1.875rem 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
@media (max-width: 991px){
    .footer_widgets_wrapper {
        padding: 5em 0 1em;
    }
}
@media (min-width: 992px){
    .footer_widgets_wrapper {
        margin: 0 auto;
    }
    .footer_widgets_wrapper .widget_area {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
        flex: 1 1 25%;
        margin-bottom: 0;
        padding: 0 30px;
    }
    .site_info_wrapper .wrapper:not(:empty) {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
}

@media (min-width: 768px){
    .footer_widgets {
        padding: 0 50px;
    }
    /* .footer_widgets_wrapper .widget_area {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
        flex: 1 1 50%;
    } */
    .site_info_wrapper .wrapper:not(:empty) {
        padding: 1.875rem 3.75rem;
    }
}
