.site_content {
    background-color: #eff6fb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login_wrapper {
    border-radius: 10px;
    max-width: 320px;
    width: 100%;
    padding: 1em;
    text-align: center;
}
.login_wrapper input,
.login_wrapper button[type='submit'] {
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
}

.form_logo {
    display: block;
    text-align: center;
    margin-bottom: 2rem;
}
.title_form {
    text-align: center;
}

.form_ext {
    margin-top: 2rem;
    font-size: 14px;
    vertical-align: middle;
}
.form_ext a{color:#888}
.form_ext svg{
    vertical-align: middle;
}
