.me_sidebox {
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
}


@media (max-width:766px){
   
    .me_sidebox {
       height: 100px;
    }
}   
@media (max-width:424px){
    .me_sidebox {
        flex-basis: 10%;
    }
   
}